<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-4 name no-padding-lr">Name</div>
    <div class="col-xs-12 col-sm-8 breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About us</li>
      </ol>
    </div>
  </div>
</div>
