<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-4 name no-padding-lr">Certificates</div>
    <div class="col-xs-12 col-sm-8 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li class="active">Certificates</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <%= render :partial => "shared/flash" %>
  <% @certificates.each do |type, certiticates_arr| %>
    <div class="col-xs-12 no-padding-lr certificates">
      <h3><%= @certificate_categories["#{type}"] %></h3>
       <% certiticates_arr.each do |certificate| %>
        <%= link_to raw("
          <div class='col-xs-6 col-md-4 col-lg-3 no-padding-lr certificate'>
            <div class='certificate-image'>
              #{image_tag certificate.image.url(:medium), :class => "img-loading img-responsive"}
            </div>
            <div class='certificate-name'>
              #{certificate.name}
            </div>
          </div>
        "), certificate.file.url, :target => "_blank" %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function() {
  $('img').load(function(){
     $(this).css('background','none');
  });
})

</script>

